*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 100px;
    background-color: #000000b0;
    overflow: hidden;
}
.container{
    padding: 0px 200px;
}
.container h1{
    padding-top: 2.5%;
    font-size: 48px;
    color: blueviolet;
}
.container ul{
    display: flex;
    float: right;
    margin: -30px 0px;
}
.container ul li{
    list-style-type: none;
    margin: 0px 2px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    transition: 0.5s;
}
.container ul li a{
    text-decoration: none;
    color:rgb(201, 183, 183);
}
.container ul li:hover{
    background-color: #fff;
}
#slide img{
    height: 500px;
    width: 100%;
}
#section-form-1{
    height: 500px;
    background-color: rgba(135, 62, 99, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    height: 450px;
    border: 3px solid blue;
    border-radius: 12px;
}
.form h1{
    color: #fff;
    font-size: 40px;
    margin-top: 20%;
    margin-left: 40%;
}
.form .one{
    padding: 10px 40px;
    margin: 20px 120px;
    outline: none;
}
.form .two{
    padding: 10px 40px;
    margin: 10px 120px;
    outline: none;
}
.form .btn{
    padding: 10px 150px;
    margin: 10px 70px;
    color: #fff;
    background-color: blue;
}
.form .para{
    margin: 80px 110px;
}
.form .para a{
    text-decoration: none;
    color: #fff;
}
footer{
    height: 70px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #fff;   
}